@font-face { font-family: Kreadon_regular; src: url(fonts/Kreadon-Regular.ttf); }
@font-face { font-family: Kreadon_bold; src: url(fonts/Kreadon-Bold.ttf); }
@font-face { font-family: Kreadon_demi; src: url(fonts/Kreadon-Demi.ttf); }
@font-face { font-family: Kreadon_medium; src: url(fonts/Kreadon-Medium.ttf); }

#zakrep {
    width: 100%;
    height: 11%;
    background-color: white;
    position: fixed;
    top:0%;
}

.scrolling {
    margin-bottom: 37%;
}

#filter {
    position: fixed;
    left: 70%;
    float: right;
    width: 25%;
    background-color: rgba(251, 234, 80, 0.85);
    color: black;
    border-radius: 10px;
    border: 0px;
    border-color: black;
    font-size: 15px;
    padding: 1%;
    padding-top: 1%;
    font-family: Kreadon_medium;
    padding-left: 5%;
    box-shadow: 1.5px 1.5px 2px rgb(0, 0, 0, 0.2);;

}

.tab {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tab > input[type="radio"] {
    display: none;
}

.tab-content {
    display: none;
    width: 100%;
    margin-top: 1rem;
}

.tab > label {
    display: block;
    padding: 2%;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: none;
    color: black;
    background: #E3E1E1;
    border-bottom: 1px solid black;
    text-align: center;

}

#drivers {
    width: 46%;
    float:left;
    border-top-right-radius: 1.2rem;
    margin-left: -2.5%;
}

#passengers {
    float: right;
    border-top-left-radius: 1.2rem;
    width: 46.5%;
}

.tab > input[type="radio"]:checked + label {
    cursor: default;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-bottom: 0px;
    box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.1);
}
#tab-btn-1:checked~#trip-card-by-id-${trip.id},
#tab-btn-2:checked~#content-2 {
    display: block;
}

.content {
    margin-bottom: 35%;
}

#imgfilter {
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 5%;
    margin-left: -12%;
}

#imghist {
    float: right;
    height: 40%;
    width: 40%;
    position: absolute;
    top: 35%;
    right: -5%;
}

#imgprof {
    float: right;
    height: 40%;
    width: 40%;
    position: absolute;
    top: 35%;
    right: 43%;
}

/* taken */
.card {
    padding: 2.5%;
    text-align: center;
    margin: auto;
    border: 0px;
    border-radius: 10px;
    width: 90%;
    background-color: #E3E1E1;
    min-height: 50%;
    box-shadow: 0px 3px 1cqmax rgba(0, 0, 0, 0.3);
    margin-top: 3%;
}

.avatar {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
    border: solid 0.1px black;
    float: left;
}

.name {
    font-family: Kreadon_demi;
    margin-left: 5%;
    font-size: 16px;
    background-color: rgba(251, 234, 80, 0.67);;
    border: 0px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.main-info {
    padding-top: 10%;
    margin-top: 10%;
    width: 100%;

}

.from_main {
    width: 35%;
    float: left;
    align-items: center;
    text-align: center;
    margin-top: 6%;
}

.date {
    font-family: Kreadon_medium;
    font-size: 11px;
    width: 10%;
}

.from {
    font-family: Kreadon_demi;
    margin-left: 0%;
    font-size: 15px;

}

.arrow {
    font-family: Kreadon_demi;
    font-size: 15px;

}

.to_main {
    width: 35%;
    float: right;
    align-items: center;
    text-align: center;
    margin-top: -17%;
    margin-right: -6%;
}

.to {
    font-family: Kreadon_demi;
    font-size: 15px;
}

.bott {
    width: 20%;
    float: left;
    align-items: center;
    text-align: center;
    margin-top: 1%;
    margin-left: -4%;

}

.clari-from {
    font-family: Kreadon_regular;
    font-size: 10px;

}

.time {
    font-family: Kreadon_medium;
    font-size: 11px;
    padding-top: 5%;

}

.clari-to {
    font-family: Kreadon_regular;
    font-size: 10px;
    margin-top: 10%;
}

.dopinfa {
    float: left;
    margin-top: -8.5%;

}

.rides {
    font-family: Kreadon_medium;
    font-size: 11px;
}

.free-places {
    font-family: Kreadon_medium;
    font-size: 11px;
}
.pr-ch {
    margin-top: 20%;
    margin-left: 40%;
}

.price {
    font-family: Kreadon_bold;
    font-size: 16px;
    width: 16%;
    margin-right: 8%;
}

.choose {
    font-family: Kreadon_demi;
    font-size: 16px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(251, 234, 80, 0.75);
    margin-left: 10%;
    padding: 3%;
    color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
/* end taken*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 14%;
    border-top-right-radius: 23%;
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2%;
    box-sizing: border-box;
}

footer button {
    width: 50%;
    height: 85%;
    font-family: "Kreadon_medium";
    font-size: 4.3vw;
    text-align:left;
    border-radius: 5vw;
    bottom: 0%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(208, 206, 206, 90%);;
    margin-bottom: 1%;
    color: black;
    padding-left: 3%;
    border: 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}