@font-face {
    font-family: "Kreadon"; 
    src: url("fonts/Kreadon-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
} 


* {
    box-sizing: border-box;
    font-family: "Kreadon";
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Kreadon";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step { display: none; }
.step.active { display: block; }


.grey-rect {
    width: 83.9vw;
    height: 70vh;
    background-color: #E3E1E1;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Kreadon";
    margin-top: 0;
}


.desc-img{
    margin-top: 10%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.dir-desc {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 7vw;
    font-family: "Kreadon";
    color: #000;
    margin-top: 10%;
}


.dir-image {
    margin-top: 2%;
    height: 90%;
    width: auto;
}

.date-img{
    height: 14vw;
    width: auto;
    position: absolute;
    top: -7%;
    right: 10%;
}

.car-img{
    height: 14vw;
    margin-bottom: 0;
    position: absolute;
    top: -11%;
    left: 8%;
}


#step3, #step4, #step5 {
    position: relative;
}



.button1, .button2 {
    width: 50%;
    height: 100%;
    font-size: 3vh;
    font-family: "Kreadon";
    padding: 0;
    background-color: inherit;
    color: #000;
}

#right1, #right2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0.1px solid black;
    border-left: 0.65px solid black;
}

#left1, #left2 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 0.1px solid black;
    border-right: 0.65px solid black;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-radius: 10px;
    border: 1.2px solid black;
    margin: 0;
    margin-top: 3%;
    margin-bottom: 5%;
}

.nav-buttons {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.but-text {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 70%;
}


#comment1, #comment2 {
    width: 100%;
    height: 20vh;
    font-size: 3vw;
    border: 1.3px solid black;
    background-color: inherit;
    border-radius: 8px;
    text-align: left;
    padding-left: 2%;
    overflow: auto;
    resize: none;
    margin: 0;
    outline: none;
}

.next {
    font-size: 3vh;
    font-family: "Kreadon";
    background-color: #FBEA50D9;
    border-radius: 10px;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    border: 1.3px solid black;
    color: #000;
}

#dir-button1 {
    margin-left: 2%;
    margin-right: 2%;
}

#dir-button2 {
    margin-left: 2%;
    margin-right: 2%;
}


.date, .time {
    width: 70%;
}

#date-f {
    height: 10vh;
    width: 100%;
    border-radius: 10px;
    border: 1.3px solid black;
    font-size: 5vw;
    font-family: "Kreadon";
    color: #000;
    background-color: #E3E1E1;
    text-align: center;
    align-items: center;
}

#time-f {
    height: 10vh;
    width: 100%;
    border-radius: 10px;
    border: 1.3px solid black;
    font-size: 5vw;
    font-family: "Kreadon";
    color: #000;
    background-color: #E3E1E1;
    text-align: center;
    align-items: center;
    margin-bottom: 17%;
}

.choose-dt {
    font-size: 5vw;
    font-family: "Kreadon";
    color: #000;
    margin-bottom: 2%;
}

.type {
    padding-top: 4%;
    width: 70%;
    border: 1.3px solid black;
    border-radius: 10px;
    margin-top: 7%;
    font-size: 4.5vw;
}

.price {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 8%;
    display: flex;
    font-size: 5.4vw;
    align-items: center;
    position: relative;
}

.choice {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Kreadon";
}

.choice li {
    margin-bottom: 15px;
}

.choice label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 7%;
    cursor: pointer;
    user-select: none;
    font-family: "Kreadon";
}

.choice input[type="checkbox"], .choice input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__checkmark {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 5vw;
    width: 5vw;
    background-color: inherit;
    border: 1px solid #333;
    transition: background-color 0.25s ease;
    border-radius: 3px;
    margin-right: 10%;
}

.checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.choice input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
}

.choice label span {
    margin-left: 30px;
}

#param {
    width: 70%;
    font-size: 4vw;
}

#hr {
    width: 70%;
    margin-top: 0;
    border: none;
    border-top: 0.8px solid #000;
    margin-bottom: 5%;
}

.header {
    margin-top: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 5vw;
}

#param-text {
    margin-bottom: 2%;
}

.car {
    font-size: 5vw;
    margin-top: 5%;
    padding-top: 4%;
    width: 70%;
    height: 50%;
    border: 1.3px solid black;
    border-radius: 10px;
    margin-bottom: 8%;
}

#price-rub {
    width: 30%;
    height: 70%;
    border: 1.3px solid black;
    border-radius: 10px;
    padding-left: 3%;
    font-size: 4vw;
    right: 100;
    position: absolute;
    right: 0;
    background-color: inherit;
}

#add {
    width: 70%;
    height: 16%;
    font-size: 3vw;
    border: 1.3px solid black;
    background-color: inherit;
    border-radius: 8px;
    text-align: left;
    padding-left: 2%;
    overflow: auto;
    resize: none;
    margin: 0;
    outline: none;
    margin-bottom: 5%;
    margin-top: 5%;
}


.number-label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 7%;
    cursor: pointer;
    font-family: "Kreadon";
}

.number-input {
    position: relative;
    width: 10vw;
    height: 5vw;
    border: 1px solid #333;
    border-radius: 3px;
    margin-left: 15%;
    text-align: center;
    font-family: "Kreadon";
    background-color: inherit;
    font-size: 3vw;
}

.av-text {
    margin-left: 6.8%;
}

#submit-data {
    font-size: 5.5vw;
}

#sub-d {
    margin-top: 0;
    margin-bottom: 2%;
}

#trip-data {
    padding: 3%;
    padding-top: 0;
    width: 90%;
    height: 63%;
    border: 1.3px solid black;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 4%;
}