@font-face { font-family: Kreadon_regular; src: url(fonts/Kreadon-Regular.ttf); } 
@font-face { font-family: Kreadon_bold; src: url(fonts/Kreadon-Bold.ttf); } 
@font-face { font-family: Kreadon_demi; src: url(fonts/Kreadon-Demi.ttf); } 
@font-face { font-family: Kreadon_medium; src: url(fonts/Kreadon-Medium.ttf); } 

body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: Kreadon_regular;
}

input:focus {
    outline: none;
}


#My-profile {
    padding: 5px;
    margin-left: 15px;
    width: 130px;
    background-color: #E3E1E1;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    border-color: black;
    font-size: 20px;
    font-family: Kreadon_regular;
    padding-left: 40px;
}

#imgprof {
    height: 15%;
    width: 15%;
    float: left;
    margin-right: 5%;
    margin-left: -30px;
}

#back {
    font-family: Kreadon_regular;
    font-size: 20px;
    margin: -15.5%;
    margin-right: 4%;
    margin-top: -15%;
    padding: 1.5%;
    background-color: #E3E1E1;
    color: black;
    border-radius: 10px;
    border: 1px solid var(--tg-theme-text-color);
    width: 25%;
    float: right;
    top: 200px;
}

#name {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Kreadon_regular;
    text-align: center;
    font-size: 26px;
    padding: 1.5%;
    width: 88%;
    background-color: #E3E1E1;
    color: black;
    border-radius: 10px;
    border-color: black;
}

#avatar {
    display: block;
    margin-left: 5%;
    width: 45%;
    height: 45%;
    border-radius: 50%;
    border: solid 1px black;
    margin-top: 3%;
}

#age {
    font-family: Kreadon_regular;
    font-size: 20px;
    position: absolute;
    margin-left: 55%;
    margin-right: 5%;
    margin-top: -38%; 
}

#sex {
    font-family: Kreadon_regular;
    font-size: 20px;
    position: absolute;
    margin-left: 55%;
    margin-right: 5%;
    margin-top: -25%; 
}

#rides {
    font-family: Kreadon_regular;
    font-size: 20px;
    position: absolute;
    margin-left: 55%;
    margin-right: 5%;
    margin-top: -14%; 
}

#MyCars {
    font-size: 20px;
    background-color: #E3E1E1;
    width: 35%;
    border-radius: 10px;
    padding: 1.5%;
    margin-left: 5%;
    color: black;
    font-family: Kreadon_regular;
    padding-left: 5%;
}

.mashini {
    margin-right: 40%;
    margin-left: 5%;
}

.car {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-top: 8%;
}

a {
    margin-left: 18%;
    margin-top: -20%;
    font-family: kreadon_demi;
    font-size: 15px;
}

#addcar {
    font-family: Kreadon_demi;
    font-size: 20px;
    margin-left: 6%;
    color: var(--tg-theme-text-color);
}

li {
    gap: 80px;
}

#redt {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-family: Kreadon_regular;
    width: 65%;
    font-size: 26px;
    border-radius: 10px;
    border: 0px;
    color: black;
    padding: 2%;
    background-color: #FBEA50;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}
