.scrolling {
    margin-bottom: 20%;
}

#imghist {
    float: right;
    height: 40%;
    width: 40%;
    position: absolute;
    top: 35%;
    right: -5%;
}

#imgprof {
    float: right;
    height: 40%;
    width: 40%;
    position: absolute;
    top: 35%;
    right: 43%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    border-top-right-radius: 23%;
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2%;
    box-sizing: border-box;
}

footer button {
    width: 50%;
    height: 80%;
    font-family: "Kreadon_medium";
    font-size: 4.3vw;
    text-align: left;
    border-radius: 5vw;
    bottom: 0%;
    background-color: rgb(208, 206, 206, 90%);;
    margin: 1% 5%;
    color: black;
    padding-left: 3%;
    border: 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}