input:focus {
    outline: none;
}

p {
    margin: 0;
}

#verh {
    width: 100%;
    height: 6.5%;
    background-color: white;
    position: fixed;
    top:0%;
}

#name {
    margin-left: 4%;
    margin-right: 5%;
    font-family: Kreadon_regular;
    text-align: center;
    font-size: 26px;
    padding: 1.5%;
    width: 88%;
    color: black;
    border-radius: 30px;
    margin-top: 11%;
    border: 5px solid var(--owner-bg-col);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.bio {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;

}

#avatar {
    margin-left: 10%;
    width: 6.5em;
    height: 6.5em;
    object-fit: cover;
    border-radius: 50%;
    border: solid 0.1px black;
}

#textt {
    margin-top: 3rem;
    font-size: 15px;
    margin-left: -3%;

}

#age {
    font-family: Kreadon_regular;
    position: absolute;
    margin-left: 55%;
    margin-right: 5%;
    margin-top: -40%;
}

#sex {
    font-family: Kreadon_regular;
    position: absolute;
    margin-left: 55%;
    margin-right: 5%;
    margin-top: -33%;
}

#rides {
    font-family: Kreadon_regular;
    position: absolute;
    margin-left: 55%;
    margin-right: 5%;
    margin-top: -26%;
}

.main-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: -10%;
    margin-top: -10%;
    margin-left: 0.5rem;
}

.from_main {
    width: 35%;
    float: left;
    align-items: center;
    text-align: center;
}

.from {
    font-family: Kreadon_demi;
    margin-left: 0;
    font-size: calc(1em + 1.5vw);
}

.from_main p{
    padding: 0;
    margin: 0;
}

.clari-from {
    font-family: Kreadon_regular;
    font-size: calc(0.7em + 0.5vw);
    margin-top: -5%;
}

.bott {
    width: 30%;
    float: left;
    align-items: center;
    text-align: center;
    margin-top: -2.8%;
}

.bott p{
    padding: 0;
    margin: -3.5%;
}

.date {
    font-family: Kreadon_medium;
    font-size: calc(0.8em + 0.8vw);
}

.arrow {
    font-family: Kreadon_demi;
    font-size: calc(0.9em + 1vw);
    margin-top: -7%;
    margin-left: 3%;

}

.time {
    font-family: Kreadon_medium;
    font-size: calc(0.8em + 0.8vw);
    padding-top: 5%;

}

.to_main {
    width: 35%;
    float: right;
    align-items: center;
    text-align: center;
    margin-left: -5%;
}

.to_main p{
    padding: 0;
    margin: 0;
}

.to {
    font-family: Kreadon_demi;
    font-size: calc(1em + 1.5vw);
}

.clari-to {
    font-family: Kreadon_regular;
    font-size: calc(0.7em + 0.5vw);
    padding-top: -5%;
}

.options {
    margin-top: 1%;
    display: flex;
    text-align: center;
    width: 100%;
    gap: 1rem;
    padding: 5%;
}
.options a{
    color: black;
    font-family: Kreadon_medium;
    font-size: calc(0.8em + 0.6vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 30%;
    margin-left: 0.7rem;

}
#kids {
    line-height: normal;
}

#minikids {
    margin-left: -1rem;
    margin-right: 0.4rem;
}

#z1 {
    margin-top: 1rem;
}

#z2 {
    margin-top: 0.5rem;
}

#z3 {
    margin-top: 1rem;
}
#z4 {
    margin-top: 1rem;
}

#car {
    min-height: 30%;
    padding-bottom: 8%;
}

#mashina {
    font-size: calc(1em + 1vw);
    color: black;
    margin-left: 3%;
    width: 21%;
    padding-top: 2%;
    float: left;
    border-bottom: 2px solid #C2C2C2;
    padding-bottom: 1.5%;
}

#named {
    font-size: calc(0.8em + 0.6vw);
    color: black;
    font-family: kreadon_medium;
    float: right;
    width: 55%;
    border: 1.5px solid #999797;
    border-radius: 10px;
    padding: 2%;
    padding-left: 3% ;

}

#info {
    color: black;
    margin-top: 11%;
    margin-left: 2%;
    padding: 5%;
    width: 85%;
    background-color: #E3E1E1;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 3px 1cqmax rgba(0, 0, 0, 0.3);
    min-height: fit-content;
}

#pr {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#price {
    font-family: Kreadon_demi;
    font-size: calc(1em + 2vw);
    color: black;
    bottom: 10%;
    margin-left: 5%;
    border-bottom: 1px solid black;
}
